In [2]:
import pandas as pd
import numpy as np
df1=pd.read_csv("F:\\Afitech PPML Datasets\\petrol_consumption.csv")

In [3]:
df1.shape

(48, 5)

In [4]:
df1.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [5]:
df1.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [6]:
x=df1.drop('Petrol_Consumption',axis=1)
y=df1['Petrol_Consumption']

In [7]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [10]:
from sklearn.tree import DecisionTreeRegressor

regressor=DecisionTreeRegressor()  #by default it take 'gini' index value
regressor.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [12]:
y_pred=regressor.predict(X_test)
regressor.score(X_test,y_test)

0.045881517687697104

In [13]:
from sklearn.metrics import classification_report, confusion_matrix

print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0]
 [0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0]]
              precision    recall  f1-score   support

       410.0       0.00      0.00      0.00         1
       414.0       0.00      0.00      0.00         0
       467.0       0.00      0.00      0.00         1
       487.0       0.00      0.00      0.00         1
       510.0       0.00      0.00      0.00         0
       534.0       0.00      0.00      0.00         1
       547.0       0.00      0.00      0.00         0
       554.0       0.00      0.00      0.00         0
       571.0       0.00      0.00      0.00         1
       574.0       0.00      0.00      0.00         0
       577.0       0.00      0.00      0.00         2
       580.0       0.00      0.00      0.00         1
       587.0       0.00      0.00      0.00         1
       648.0       0.00      0.00      0.00         0
       649.0       0.00      0.00      0.00         0
       704.0       0.00      0.00      0.00         1

   micro avg       0.00      0.00      0.00        10
   macro avg       0.00      0.00      0.00        10
weighted avg       0.00      0.00      0.00        10

C:\Users\Ravi\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\Ravi\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1145: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

In [22]:
result=pd.DataFrame({'Actual':y_test, 'predicted':y_pred})
result

    Actual  predicted
29     534      547.0
4      410      414.0
26     577      554.0
30     571      554.0
32     577      554.0
37     704      574.0
34     487      648.0
40     587      649.0
7      467      414.0
10     580      510.0

In [23]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms=mean_squared_error(y_test,y_pred)
rms

5590.6

In [28]:
sqrt(mean_squared_error(y_test,y_pred))

74.77031496523203