# Simple SVM Example

Our task is to predict whether a bank currency note is authentic or not based upon four attributes of the note i.e. skewness of the wavelet transformed image, variance of the image, entropy of the image, and curtosis of the image. This is a binary classification problem and we will use SVM algorithm to solve this problem.

In [1]:
import pandas as pd  
import numpy as np  
#import matplotlib.pyplot as plt  
#%matplotlib inline

from sklearn.model_selection import train_test_split 
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
bankdata = pd.read_csv("C:\\Users\\rahul\\OneDrive\\BIZOP\\AFI Tech Bangalore\\TRAINING CONTENT\\bill_authentication.csv")

### EDA

In [3]:
bankdata.shape

(1372, 5)

In [4]:
bankdata.describe()

          Variance     Skewness     Curtosis      Entropy        Class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [5]:
bankdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
Variance    1372 non-null float64
Skewness    1372 non-null float64
Curtosis    1372 non-null float64
Entropy     1372 non-null float64
Class       1372 non-null int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [6]:
bankdata.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

### Pre processing

In [7]:
X = bankdata.drop('Class', axis=1)  
y = bankdata['Class']

In [8]:
 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

### Training the model

In [9]:
svclassifier = SVC(kernel='linear')  
svclassifier.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

### Predictions

In [10]:
y_pred = svclassifier.predict(X_test)

### Evaluation

In [11]:
print(confusion_matrix(y_test,y_pred))  
print(classification_report(y_test,y_pred))

[[147   0]
 [  4 124]]
              precision    recall  f1-score   support

           0       0.97      1.00      0.99       147
           1       1.00      0.97      0.98       128

    accuracy                           0.99       275
   macro avg       0.99      0.98      0.99       275
weighted avg       0.99      0.99      0.99       275